*.idea
__pycache__
db.sqlite3
*.project
*.pydevproject
/org.eclipse.core.resources.prefs
*.pyc
database/*
group1/group1/settings.py
group1/requirements/migrations/*
group1/issue_tracker/migrations/*
group1/communication/django/comm/migrations/*
group1/comm/migrations/*
.DS_Store
venv/
group1/communication/node/node_modules/*
*.orig
*.sqlite3
geckodriver.log