<!doctype html>
<html>
    <head>
        <title> Help </title>
    </head>
    <body>
        <div>
            <div>
                <h1> Help Contents </h1>
                <h2> Overview</h2>
                <p> 
                    The 'communicaiton tool' is a fully-functional communication application.  
                    Currently, it supports video and text communication, as well as file sharing 
                    through a native system as well as through and integration with Google drive.
                </p>
                <h2> Features </h2>
                <ul>
                    <li> 
                        <h3>Text Chat</h3>
                        <p> 
                            Create private or public chat rooms using the 'create new teams' button in the upper right.  
                            Messages are perserved between sessions.  Each chat room can have an unlimited number of users.
                            Switch between teams by clicking on the team name in the left hand column. Add emoji to your sessions
                            by clicking on the small 'plus' button to the right of the message text bar.  For access to special characters
                            hold down a letter key (such as 'o') untill the special character menu appears.
                        </p>
                    </li>
                    <li> 
                        <h3>Video Chat</h3>
                        <p> 
                            Join a video chat between other members of the chat room.
                            Press the video button while a member of a chat room in order to open the chat for that room.
                            When you leave a room, your video connection will be closed. 
                        </p>
                    </li>
                    <li> 
                       <h3>File Sharing</h3>
                       <p> 
                            Upload files to the server using the file folder icon next to the message input bar.
                            Uploaded files are stored in an unencrypted format on the file server.
                       </p>
                    </li>
                    <li> 
                       <h3>Google Drive Integration</h3>
                        <p> 
                            Using the Google Drive icon located next to the message input bar, you can 
                            upload files to Google Drive and share them with your team!
                        </p>
                    </li> 
                </ul>
            </div>
        </div>
    </body>
</html>