<!doctype html>
<html>
<head>

{% if user %}
<script type="text/javascript">
  var user = '{{ user.username }}';
  var user_id = '{{ user.id }}';
</script>
{% endif %}

<title>Communication tool</title>

  <!-- jQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <!-- underscore -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>

  <!-- socketIO -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.4/socket.io.min.js"></script>

  <!-- bootstrap dependencies -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- class files -->
  <script type="text/javascript" src="/static/comm_tool.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/comm_tool.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!--- web font -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

  <!-- favicon -->
  <link href="/static/favicon.ico" rel="icon" type="image/x-icon" />

</head>

<body>
  <header>
      <h1><i class="fa fa-comments-o" aria-hidden="true"></i> Communication tool</h1>
  </header>

  <div id="wrapper">

    <div id="color_bar"></div>

    <div id="sidebar" class="col-xs-12 col-md-3 col-lg-2 sidebar">
      <h4 class="sidebar_description">Chat Rooms</h4>
      <div class="sidebar_container">
        <div id="room-list" class="list-group margin-bottom--25">
          <a id="create-room" href="#" class="btn icon create_team list-group-item" data-toggle="botton" onclick="createteam()">
<!--<span class="glyphicon glyphicon-plus padded-icon" aria-hidden="true"></span>-->Create New Teams
</a>
        </div>
      </div>

      <h4 class="sidebar_description">Users</h4>
      <div class="sidebar_container">
        <ul class="user_list margin-bottom--25">

        </ul>
      </div>
      <h4 class="sidebar_description">Quick links</h4>
      <div class="sidebar_container">
        <ul class="link_list margin-bottom--25">
          <li class="link icon home"><a href="/">
          <!--<span class="glyphicon glyphicon-home padded-icon"></span>-->Home</a>
          </li>
          <li class="link icon requirement_tool"><a href="/req/projects">
            <!--<span class="glyphicon glyphicon-book padded-icon"></span>-->Requirement Management Tool</a>
          </li>
          <li class="link icon issue_tool"><a href="/issue_tracker/">
          <!--<span class="glyphicon glyphicon-check padded-icon"></span>-->Issue Management Tool</a>
          </li>
        </ul>
      </div>
      
    </div>

          
    <div id="messages" class="col-xs-12 col-lg-10 col-md-9 col-md-offset-3 col-lg-offset-2 message">
      <div id="message_bar" class="col-lg-10 col-xs-12 message">
        <span id="charLimitMessage">Don't enter more than 1000 characters</span>
        <div class="input-group input-group-lg">
          <input id="text" type="text" class="form-control" maxlength="1000" placeholder="Enter a message..." onkeypress="checklength()" spellcheck = "true">
          <span class="input-group-btn dropup">
            <button id="sendcleartext" class="btn btn-default" type="button" onclick="display();">
              <span class="glyphicon glyphicon-expand" aria-hidden="true"></span>
            </button>
            <button id="upload file" class="btn btn-default" type="button" onclick="filechoose()">
              <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="glyphicon glyphicon-plus-sign"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
<!--
              <li><a href="#">upload file</a></li>
              <li><a href="#"><img src="/static/favicon.ico" style="width:20px;height:20px;"></a></li>
              <li><a href="#">emoticons</a></li>
            </ul>
<!--try to put emoji here
<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="glyphicon glyphicon-plus-sign"></span>
            </button>
<ul class="dropdown-menu" role="menu">

              <li><a href="#"><img src="/static/favicon.ico" style="width:20px;height:20px;">
</a></li>
-->
              <li><a href="#">Emoticons</a></li>
<table>
  <tr>
   <td><a href="#" data-toggle="button" onclick="emoji_input('::happy::')"><img src="/static/emoji/happy.jpg" style="width:20px;height:20px;"></a></td>
   <td><a href="#" data-toggle="button" onclick="emoji_input('::unhappy::')"><img src="/static/emoji/unhappy.jpg" style="width:20px;height:20px;"></a></td>
   <td><a href="#"  data-toggle="button" onclick="emoji_input('::terrible::')"><img src="/static/emoji/terrible.jpg" style="width:20px;height:20px;"></a></td>
   <td><a href="#" data-toggle="button" onclick="emoji_input('::veryhappy::')"><img src="/static/emoji/veryhappy.jpg" style="width:20px;height:20px;"></a></td>
   <td><a href="#" data-toggle="button" onclick="emoji_input('::angry::')"><img src="/static/emoji/angry.jpg" style="width:20px;height:20px;"></a></td>
   <td><a href="#" data-toggle="button" onclick="emoji_input('::sweat::')"><img src="/static/emoji/sweat.jpg" style="width:20px;height:20px;"></a></td>
  </tr>
  <tr>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::trick::')"><img src="/static/emoji/trick.jpg" style="width:20px;height:20px;"></a></td>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::kiss::')"><img src="/static/emoji/kiss.jpg" style="width:20px;height:20px;"></a></td>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::disappoint::')"><img src="/static/emoji/disappoint.jpg" style="width:20px;height:20px;"></a></td>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::sick::')"><img src="/static/emoji/sick.jpg" style="width:20px;height:20px;"></a></td>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::laughtear::')"><img src="/static/emoji/laughtear.jpg" style="width:20px;height:20px;"></a></td>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::sadtear::')"><img src="/static/emoji/sadtear.jpg" style="width:20px;height:20px;"></a></td>
  </tr>
  <tr>
   <td><a href="#" data-toggle="button" onclick="emoji_input('::blink::')"><img src="/static/emoji/blink.jpg" style="width:20px;height:20px;"></a></td>
   <td><a href="#" data-toggle="button" onclick="emoji_input('::disdain::')"><img src="/static/emoji/disdain.jpg" style="width:20px;height:20px;"></a></td>
   <td><a href="#" data-toggle="button" onclick="emoji_input('::omg::')"><img src="/static/emoji/omg.jpg" style="width:20px;height:20px;"></a></td>
   <td><a href="#" data-toggle="button" onclick="emoji_input('::embarrased::')"><img src="/static/emoji/embarrased.jpg" style="width:20px;height:20px;"></a></td>
   <td><a href="#" data-toggle="button" onclick="emoji_input('::sillysmile::')"><img src="/static/emoji/sillysmile.jpg" style="width:20px;height:20px;"></a></td>
   <td><a href="#" data-toggle="button" onclick="emoji_input('::surprise::')"><img src="/static/emoji/surprise.jpg" style="width:20px;height:20px;"></a></td>
  </tr>
  <tr>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::cry::')"><img src="/static/emoji/cry.jpg" style="width:20px;height:20px;"></a></td>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::sleepy::')"><img src="/static/emoji/sleepy.jpg" style="width:20px;height:20px;"></a></td>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::hearteye::')"><img src="/static/emoji/hearteye.jpg" style="width:20px;height:20px;"></a></td>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::flush::')"><img src="/static/emoji/flush.jpg" style="width:20px;height:20px;"></a></td>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::laughnoeye::')"><img src="/static/emoji/laughnoeye.jpg" style="width:20px;height:20px;"></a></td>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::blue::')"><img src="/static/emoji/blue.jpg" style="width:20px;height:20px;"></a></td>
  </tr>
  <tr>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::rat::')"><img src="/static/emoji/rat.jpg" style="width:20px;height:20px;"></a></td>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::clrat::')"><img src="/static/emoji/clrat.jpg" style="width:20px;height:20px;"></a></td>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::rabit::')"><img src="/static/emoji/rabit.jpg" style="width:20px;height:20px;"></a></td>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::pig::')"><img src="/static/emoji/pig.jpg" style="width:20px;height:20px;"></a></td>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::cat::')"><img src="/static/emoji/cat.jpg" style="width:20px;height:20px;"></a></td>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::monkey::')"><img src="/static/emoji/monkey.jpg" style="width:20px;height:20px;"></a></td>
  </tr>
</table>
            </ul>

   <!--......-->





          </span>
        </div>
      </div>

    <div id="top_bar" class="col-lg-10 col-xs-12 message">
      <!--<i class="fa fa-comment-o fa-3x padded-icon" aria-hidden="true"></i>-->
      <!--<span class="glyphicon glyphicon-comment padded-icon" style="font-size: 40px; color: gray;" aria-hidden="true"></span>-->
      <span id="room_title"></span>
      <div class="dropdown">
        <button type="button" id="menu_button" class="btn button-comm hidden-md hidden-lg hidden-xl" onclick="mobile_nav.sidebar()" >Menu</button>
        <button type="button" class="btn button-comm dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
          Options
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#" onclick="search_show()">Search</a>
            <a role="menuitem" tabindex="-1" href="#" onclick="editteam()">Edit Team</a>


          </li>
        </ul>
      </div>

      <div id="message_search" class="input-group hidden">
        <input id="search_box" type="text" class="form-control" placeholder="Search messages...">
        <span class="input-group-btn">
          <button id="search_button_box" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>

        </span>

      </div>
      <div style="clear:both;"></div>
    </div>

    <div class="scroll-area">
      <div id="message_list">
      </div>
      <a id="bottom"></a>
    </div>

<!--     <div id="add_team_modal" class="modal fade" style="z-index:10000000000000000000;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Create New Team</h4>
          </div>
          <div class="modal-body">
            <p>Team Name:</p><input id="teamname" type="text" class="form-control" placeholder="Enter a name ...">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" onclick="createTeamFunc()">Save</button>
          </div>
        </div>
      </div>
    </div> -->


<div id="myModal" class="modal fade">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="modalName" class="modal-title">Create New Team</h4>
      </div>
      <div class="modal-body">
        <p>Team Name:</p><input id="teamname" type="text" class="form-control" placeholder="Enter a name ...">
      </div>
      <div class="modal-footer">
        <button id="cancelButton" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="saveTeam" type="button" class="btn button-comm btn-primary" onclick="createTeamFunc()">Save</button>
      </div>
    </div>
  </div>
</div>

<div id="inputmodal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button " class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Upload Files</h4>
      </div>
      <form method="post" id="file_upload" action="" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="form-group">
            <label for="filename">Display Name:</label>
            <input type="text" class="form-control" id="filename">
          </div>
          <div class="input-group">
            <span class="input-group-btn">
              <span class="btn button-comm btn-primary btn-file">
                          Browse&hellip; <input type="file" name="fileUpload" multiple>
              </span>
            </span>
            <input type="text" class="form-control" readonly>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button id="file_submit" type="submit" class="btn button-comm btn-primary">Upload</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="searchModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Search Results</h3>
      </div>
      <div id="searchResults" class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</div>

</body>

</html>
