<!doctype html>
<html>
<head>

{% if user %}
<script type="text/javascript">
  var user = '{{ user.username }}';
  var user_id = '{{ user.id }}';
</script>
{% endif %}

<title>Communication tool</title>

  <!-- jQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <!-- underscore -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>

  <!-- socketIO -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.4/socket.io.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

  <!--Google Picker -->
  <script type="text/javascript" src="https://apis.google.com/js/api.js?onload=onApiLoad"></script>

  <!-- bootstrap dependencies -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css">


  <!-- class files -->
  <script type="text/javascript" src="/static/comm_tool.js"></script>
  <script type="text/javascript" src="/static/videochat.js"></script>

 <link rel="stylesheet" type="text/css" href="/static/comm_tool.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!--- web font -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

  <!-- favicon -->
  <link href="/static/favicon.ico" rel="icon" type="image/x-icon" />

</head>

<body onload='init()'>
  <header>
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls= "navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Communication Tool</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li class="dropdown pull-right commDropDown">
                    <a id="id_username_link" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="javascript:void(0);" onclick="showCommDialog('/communication/userprofile/')"><span class="glyphicon glyphicon-user" aria-hidden="false"></span>Profile</a></li>
                        <li><a href="javascript:void(0);" onclick="showCommDialog('/communication/changepasswd/');"><span class="glyphicon glyphicon-lock" aria-hidden="false"></span>Change Password</a></li>
                        <li class="divider"></li>
                        <li><a id="id_logout_link" href="/signout"><span class="glyphicon glyphicon-ounicationff" aria-hidden="false"></span>Logout</a></li>
                    </ul>
                </li>                {% else %}
                    {% if not isUserSigningInUpOrOut %}
                    <li><a class="btn btn-link pull-right" href="/signin">Sign In</a></li>
                    <li><a class="btn btn-link pull-right" href="/signup">Sign Up</a></li>
                    {% else %}
                    <li><a class="btn btn-link pull-right" href="/">Home</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </nav>
  </header>

  <div id="wrapper">

    <div id="color_bar"></div>

    <div id="sidebar" class="col-xs-12 col-md-3 col-lg-2 sidebar">
      <h4 class="sidebar_description">Chat Rooms</h4>
      <div class="sidebar_container">
        <div id="room-list" class="list-group margin-bottom--25">
          <a id="create-room" href="#" class="btn icon create_team list-group-item" data-toggle="botton" onclick="createteam()">
          Create New Teams
          </a>
        </div>
      </div>

      <h4 class="sidebar_description">Users</h4>
      <div class="sidebar_container">
        <ul class="user_list margin-bottom--25">
        </ul>
      </div>
      <h4 class="sidebar_description">Quick links</h4>
      <!-- Start of Sidebar Links; Styled using FA font icons and linked to external pages -->
      <div class="sidebar_container">
        <ul class="link_list margin-bottom--25">
          <li class="link icon home"><a href="/">
          Home</a>
          </li>
          <li class="link icon requirement_tool"><a href="/req/projects">
          Requirement Management Tool</a>
          </li>
          <li class="link icon issue_tool"><a href="/issue_tracker/">
          Issue Management Tool</a>
          </li>
          <li class="link icon help_tool"><a href="/communication/help">
          Help </a>
          </li>
        </ul>
      </div>
    </div>

          
    <div id="messages" class="col-xs-12 col-lg-10 col-md-9 col-md-offset-3 col-lg-offset-2 message message_area">
      <div id="message_bar" class="col-lg-10 col-xs-12 message">
        <span id="charLimitMessage">Don't enter more than 1000 characters</span>
        <div class="input-group input-group-lg">
          <input id="text" type="text" class="form-control" maxlength="1000" placeholder="Enter a message..." onkeypress="checklength()" spellcheck = "true">
          <span class="input-group-btn dropup">
          <button id="sendcleartext" class="btn btn-default" data-toggle="tooltip" title="Send messages!" type="button" onclick="display();">
              <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
            </button>
              <button id="record" class="btn btn-default" data-toggle="tooltip"  title='audio recording' type='button'>
              <i style="font-size:24px" class="fa">&#xf130;</i>
            </button>
            <button id="upload file" class="btn btn-default" type="button" data-toggle="tooltip" title="Send files!" onclick="filechoose()">
              <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
            </button>
            <button id="startVideo" class="btn btn-default" type="button" data-toggle="tooltip" title="Start Video Share!">
              <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
            </button>
	    <div class="btn-group btn-group-inline">
              <button id="google drive" type="button" class="btn btn-default" data-toggle="dropdown" aria-expanded="false" style="width:52px;height:46px;">
                <img src="/static/google-drive-black-on-white.png" style="width:20px;height:20px;">
              </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                  <li><a href="#" data-toggle="button" onclick="initUploadFiles()">Upload File</a></li>
                  <li><a href="#" data-toggle="button" onclick="initDownloadFiles()">Download File</a></li>
                </ul>
            </div>
            <div class="btn-group btn-group-inline">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="width:52px;height:46px;">
                <span class="glyphicon glyphicon-plus-sign"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a href="#">Emoticons</a></li>
<table>
  <tr>
   <td><a href="#" data-toggle="button" onclick="emoji_input('::happy::')"><img src="/static/emoji/happy.jpg" style="width:20px;height:20px;"></a></td>
   <td><a href="#" data-toggle="button" onclick="emoji_input('::unhappy::')"><img src="/static/emoji/unhappy.jpg" style="width:20px;height:20px;"></a></td>
   <td><a href="#"  data-toggle="button" onclick="emoji_input('::terrible::')"><img src="/static/emoji/terrible.jpg" style="width:20px;height:20px;"></a></td>
   <td><a href="#" data-toggle="button" onclick="emoji_input('::veryhappy::')"><img src="/static/emoji/veryhappy.jpg" style="width:20px;height:20px;"></a></td>
   <td><a href="#" data-toggle="button" onclick="emoji_input('::angry::')"><img src="/static/emoji/angry.jpg" style="width:20px;height:20px;"></a></td>
   <td><a href="#" data-toggle="button" onclick="emoji_input('::sweat::')"><img src="/static/emoji/sweat.jpg" style="width:20px;height:20px;"></a></td>
  </tr>
  <tr>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::trick::')"><img src="/static/emoji/trick.jpg" style="width:20px;height:20px;"></a></td>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::kiss::')"><img src="/static/emoji/kiss.jpg" style="width:20px;height:20px;"></a></td>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::disappoint::')"><img src="/static/emoji/disappoint.jpg" style="width:20px;height:20px;"></a></td>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::sick::')"><img src="/static/emoji/sick.jpg" style="width:20px;height:20px;"></a></td>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::laughtear::')"><img src="/static/emoji/laughtear.jpg" style="width:20px;height:20px;"></a></td>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::sadtear::')"><img src="/static/emoji/sadtear.jpg" style="width:20px;height:20px;"></a></td>
  </tr>
  <tr>
   <td><a href="#" data-toggle="button" onclick="emoji_input('::blink::')"><img src="/static/emoji/blink.jpg" style="width:20px;height:20px;"></a></td>
   <td><a href="#" data-toggle="button" onclick="emoji_input('::disdain::')"><img src="/static/emoji/disdain.jpg" style="width:20px;height:20px;"></a></td>
   <td><a href="#" data-toggle="button" onclick="emoji_input('::omg::')"><img src="/static/emoji/omg.jpg" style="width:20px;height:20px;"></a></td>
   <td><a href="#" data-toggle="button" onclick="emoji_input('::embarrased::')"><img src="/static/emoji/embarrased.jpg" style="width:20px;height:20px;"></a></td>
   <td><a href="#" data-toggle="button" onclick="emoji_input('::sillysmile::')"><img src="/static/emoji/sillysmile.jpg" style="width:20px;height:20px;"></a></td>
   <td><a href="#" data-toggle="button" onclick="emoji_input('::surprise::')"><img src="/static/emoji/surprise.jpg" style="width:20px;height:20px;"></a></td>
  </tr>
  <tr>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::cry::')"><img src="/static/emoji/cry.jpg" style="width:20px;height:20px;"></a></td>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::sleepy::')"><img src="/static/emoji/sleepy.jpg" style="width:20px;height:20px;"></a></td>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::hearteye::')"><img src="/static/emoji/hearteye.jpg" style="width:20px;height:20px;"></a></td>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::flush::')"><img src="/static/emoji/flush.jpg" style="width:20px;height:20px;"></a></td>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::laughnoeye::')"><img src="/static/emoji/laughnoeye.jpg" style="width:20px;height:20px;"></a></td>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::blue::')"><img src="/static/emoji/blue.jpg" style="width:20px;height:20px;"></a></td>
  </tr>
  <tr>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::rat::')"><img src="/static/emoji/rat.jpg" style="width:20px;height:20px;"></a></td>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::clrat::')"><img src="/static/emoji/clrat.jpg" style="width:20px;height:20px;"></a></td>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::rabit::')"><img src="/static/emoji/rabit.jpg" style="width:20px;height:20px;"></a></td>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::pig::')"><img src="/static/emoji/pig.jpg" style="width:20px;height:20px;"></a></td>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::cat::')"><img src="/static/emoji/cat.jpg" style="width:20px;height:20px;"></a></td>
    <td><a href="#" data-toggle="button" onclick="emoji_input('::monkey::')"><img src="/static/emoji/monkey.jpg" style="width:20px;height:20px;"></a></td>
  </tr>
</table>
              </ul>
            </div>





          </span>
        </div>
      </div>

    <div id="top_bar" class="col-lg-10 col-xs-12 message">
      <span id="room_title"></span>
      <div class="dropdown">
        <button type="button" id="menu_button" class="btn button-comm hidden-md hidden-lg hidden-xl" onclick="mobile_nav.sidebar()" >Menu</button>
        <button type="button" class="btn button-comm dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
          Options
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#" onclick="search_show()">Search</a>
            <a role="menuitem" tabindex="-1" href="#" onclick="editteam()">Edit Team</a>


          </li>
        </ul>
      </div>

      <div id="message_search" class="input-group hidden">
        <input id="search_box" type="text" class="form-control" placeholder="Search messages...">
        <span class="input-group-btn">
          <button id="search_button_box" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>

        </span>

      </div>
      <div style="clear:both;"></div>
    </div>

    <div class="scroll-area">
	<div id="message_list">
</div>
      <a id="bottom"></a>
    </div>

    <!-- Updated Embedded Video Area -->
    <div id="wrap_video" class="videoArea hide">
        <div id="video_box">
            <video id="video_overlays"></video>
            <div>
                <video id="localVideo" autoplay muted ></video>
            </div>
        </div>
    </div>


    <!-- Embedded video area
    <div id="videoArea" class="videoArea hide">  
      <div class="minorFlex">
          <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>       
      </div>
      <iframe class="videoItems" src="" id="videoFrame"></iframe>
    </div>
    -->    

    <div id="myModal" class="modal fade">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="modalName" class="modal-title">Create New Team</h4>
      </div>
      <div class="modal-body">
        <p>Team Name:</p><input id="teamname" type="text" class="form-control" placeholder="Enter a name ...">
      </div>
      <div class="modal-footer">
        <button id="cancelButton" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="saveTeam" type="button" class="btn button-comm btn-primary" onclick="createTeamFunc()">Save</button>
      </div>
    </div>
  </div>
</div>


<div id="inputmodal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button " class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Upload Files</h4>
      </div>
      <form method="post" id="file_upload" action="" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="form-group">
            <label for="filename">Display Name:</label>
            <input type="text" class="form-control" id="filename">
          </div>
          <div class="input-group">
            <span class="input-group-btn">
              <span class="btn button-comm btn-primary btn-file">
                          Browse&hellip; <input type="file" name="fileUpload" multiple>
              </span>
            </span>
            <input type="text" class="form-control" readonly>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button id="file_submit" type="submit" class="btn button-comm btn-primary">Upload</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="searchModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Search Results</h3>
      </div>
      <div id="searchResults" class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</div>
<div id="dialogCommModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="dialogModalLabel" aria-hidden="true" style="display: none;"></div>

</body>

</html>

<!-- load javascript after the page has had a chance to process, so that listeners can be applied -->
<script type="text/javascript" src="/static/comm_tool.js"></script>
<script type="text/javascript" src="/static/videochat.js"></script> 
