{% extends 'base.html' %}

{% block title %}Create Issue{% endblock %}
{% block header_title %}<div class="bug_name">Create New Issue</div> {% endblock %}

{% block content %}

<div id="page-inner">
    <div>
                   <!-- <div id="description"> -->
<!--
                    <h1 class="bug_name" clear="both">Create New Issue</h1>
-->
                    <!-- </div> -->

        <div style="float: left;">
            <form action="" method="post">{% csrf_token %}
                {{ form.non_field_errors }}
                <div id="resolution">

                    <p class="text-warning" style="color: black;"><b>Project</b></p>

                    <div class="fieldWrapper">
                        {{ form.project.errors }}
                        <label for="{{ form.title.id_for_label }}"></label>
                            {{ form.project }}
                    </div>

                    <p class="text-warning" style="color: black;"><b>Type</b></p>

                    <div class="fieldWrapper">
                        {{ form.issue_type.errors }}
                        <label for="{{ form.title.id_for_label }}"></label>
                            {{ form.issue_type }}
                    </div>

                    <p class="text-warning" style="color: black;"><b>Short Description/Title</b></p>
        		<!--<input type="text" name="_IssueShortDis" size="50">-->

                    <div class="fieldWrapper">
                        {{ form.title.errors }}
                        <label for="{{ form.title.id_for_label }}"></label>
                        {{ form.title }}
                    </div>

                    <p class="text-warning" style="color: black;"><b>Long Description</b></p>

                    {{ form.description.errors }}
                    <label for="{{ form.title.id_for_label }}"></label>
                    {{ form.description }}

                </div>

                <div id="resolution" style="float: left;">

                    <p style="color: black;" class="text-warning"><b>Priority</b></p>

                    <div class="fieldWrapper">
                        {{ form.priority.errors }}
                        <label for="{{ form.title.id_for_label }}"></label>
                        {{ form.priority }}
                    </div>

                    <p class="text-warning" style="color: black;"><b>Assigned to.....(Option)</b></p>

                    <div class="fieldWrapper">
                        {{ form.assignee.errors }}
                        <label for="{{ form.title.id_for_label }}"></label>
                        {{ form.assignee }}
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <br><br>
                   		    <input id="id_input_create_issue" type="submit" value="Create" class="btn btn-primary" style="float: left; background-color: #B22222"/>
                       	</div>
         		  	</div>

                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}
