<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Navbar tutorial from BootstrapBay.com">
    <meta name="author" content="BootstrapBay.com">
    <title>DashBoard</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"><!-------for icon-->


</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!---------------------------------->
            <!--<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".narbar-collapse">
                    <span class="sr-only"> Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Issue Tracking System</a>
            </div>-->
            <!---------------------------------->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bar"></span>
                    <span class="fa fa-bar"></span>
                    <span class="fa fa-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">--Issue Type--</a>
            </div>
            <!---------------------------------->
            <div style="color: white;
                 padding: 15px 50px 5px 50px;
                 float: left;
                 font-size: 18px; ">
                View/Edit Issue
            </div>
            <!---------------------------------->
            
            <div style="color: white;
                 padding: 15px 50px 5px 50px;
                 float: right;
                 font-size: 12px;">
                <a href="/admin/logout/" class="btn btn-danger square-btn-adjust">Logout</a>
                 <!--Last access : 25 Feb 2015 &nbsp;-->
            </div>

            
            <!---------------------------------->
            <div class="navbar-collapse collapse"> 
                <ul class="nav navbar-nav navbar-right"> 
                    <li class="active">
                     <!--<li class="dropdown">-->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Current Status <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Open</li>
                            <li><a href="#">Closed</a></li>
                            <li><a href="#">Duplicate</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Working as intened</li>
                            <li><a href="#">On Hold</a></li>
                            <li><a href="#">In Progress</a></li>
                        </ul>
                    </li>
                    <li><a href="#">XXXX</a></li>
                    <li><a href="#about">OOOO</a></li>
                    <li><a href="#">Setting</a></li>
                </ul>
            </div><!--/.nav-TOP -->
        </div>
    </div><!-- Bootstrap core JavaScript================================================== -->


        <!-- /. NAV SIDE  -->  
        <nav class="navbar-inverse navbar-left" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a class="active-menu" href="/issue_tracker/issue/issue_index/"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="/issue_tracker/issue/add"><i class="fa fa-desktop fa-3x"></i> File Report</a>
                    </li>
                    <li>
                        <a href="tab-panel.html"><i class="fa fa-qrcode fa-3x"></i>Time Tracking</a>
                    </li>
                    <li>
                        <a href="/admin/login/"><i class="fa fa-bolt fa-3x"></i> Login</a>
                    </li>
                </ul>
            </div>
            </nav>
            <!-- /. NAV SIDE  -->

            <!-- /. NAV main  -->
            <div class="container">
                <div class="jumbotron text-center">
                    <h1>DashBoard</h1>
                    <p>-Issue Tracking System-</p>
                    <a href="#" class="btn btn-primary btn-lg">Assinged</a>
                    <a href="#" class="btn btn-success btn-lg">Issue Report</a>
                </div>
            </div>
            <!-- /. NAV main  -->



    <!-- /. NAV mutiple reports  -->
    <h2>Multiple Reports</h2>
    <table class="table table-hover">
        <caption>this table displays the simple information of issue reports. </caption>
        <thead>
            <tr>
                <th>Issue Number</th>
                <th>Issue Title</th>
                <th>Type</th>
                <th>Issue Status</th>
                <th>Priority</th>
                <th>Last Updated</th>
                <th>Assigned To</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>560001</td>
                <td>Bug_1</td>
                <td>Code Defect</td>
                <td>UNCONFIRMED</td>
                <td>Point5</td>
                <td>2/25/2015</td>
                <td>Kenny</td>
            </tr>
            <tr>
                <td>560002</td>
                <td>Bug_2</td>
                <td>Code Defect</td>
                <td>UNCONFIRMED</td>
                <td>Point4</td>
                <td>2/25/2015</td>
                <td>Amy</td>
            </tr>
            <tr>
                <td>560003</td>
                <td>Bug_3</td>
                <td>Code Defect</td>
                <td>UNCONFIRMED</td>
                <td>Point5</td>
                <td>2/25/2015</td>
                <td>Joshua</td>
            </tr>
            <tr>
                <td>560004</td>
                <td>Bug_4</td>
                <td>Code Defect</td>
                <td>UNCONFIRMED</td>
                <td>Point5</td>
                <td>2/25/2015</td>
                <td>Joe</td>
            </tr>
            <tr>
                <td>560005</td>
                <td>Bug_5</td>
                <td>Code Defect</td>
                <td>UNCONFIRMED</td>
                <td>Point5</td>
                <td>2/25/2015</td>
                <td>Jerrold</td>
            </tr>
            <tr>
                <td>560006</td>
                <td>Bug_6</td>
                <td>XXXXX</td>
                <td>XXXXX</td>
                <td>Point5</td>
                <td>2/25/2015</td>
                <td>Samer</td>
            </tr>
        </tbody>
    </table>



    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <!-- /. NAV mutiple reports  -->

    <!-- /. NAV*************************************************************** TESTing  -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Time Tracking-I</h3>
                    </div>
                    <div class="panel-body">
                        <div id="quarterChart"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Time Tracking-II</h3>
                    </div>
                    <div id="detailChart" class="panel-body">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- you need to include the shieldui css and js assets in order for the charts to work -->
    <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/shieldui-all.min.css" />
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>

    <script type="text/javascript">
        jQuery(function ($) {
            var performanceData = [
                { quarter: 0, min: 3, max: 9, values: [12, 3, 4, 2, 12, 3, 4, 17, 22, 34, 54, 67] },
                { quarter: 1, min: 12, max: 23, values: [3, 9, 12, 14, 22, 32, 45, 12, 67, 45, 55, 7] },
                { quarter: 2, min: 1, max: 17, values: [23, 19, 11, 134, 242, 352, 435, 22, 637, 445, 555, 57] },
                { quarter: 3, min: -3, max: 12, values: [13, 19, 112, 114, 212, 332, 435, 132, 67, 45, 55, 7] }
            ];
            $(function () {
                $("#quarterChart").shieldChart({
                    exportOptions: {
                        image: false,
                        print: false
                    },
                    seriesSettings: {
                        rangebar: {
                            enablePointSelection: true
                        }
                    },
                    tooltipSettings: {
                        customPointText: "Low Value: <b>{point.low}</b><br />High Value:<b>{point.high}</b>"
                    },
                    axisY: {
                        title: {
                            text: "Quarter Overview"
                        }
                    },
                    axisX: {
                        categoricalValues: ["Q1", "Q2", "Q3", "Q4"]
                    },
                    primaryHeader: {
                        text: "Quarterly Performance"
                    },
                    dataSeries: [{
                        seriesType: "rangebar",
                        collectionAlias: "Low/High",
                        data: $.map(performanceData, function (item, index) {
                            return [[item.min, item.max]];
                        })
                    }],
                    events: {
                        pointSelect: function (args) {
                            var detailData = performanceData[args.point.x].values,
                                detailChartElement = $("#detailChart"),
                                detailChart = detailChartElement.swidget(),
                                initialOptions = detailChart.initialOptions,
                                headerText = args.point.name + " Performance";
                            detailChart.destroy();
                            detailChartElement.shieldChart($.extend(initialOptions, {
                                primaryHeader: {
                                    text: headerText
                                },
                                dataSeries: [{
                                    seriesType: "line",
                                    collectionAlias: "Q Data",
                                    data: detailData
                                }]
                            }));
                        }
                    }
                });
                $("#detailChart").shieldChart({
                    exportOptions: {
                        image: false,
                        print: false
                    },
                    axisY: {
                        title: {
                            text: "Break-Down for selected quarter"
                        }
                    },
                    primaryHeader: {
                        text: "Q1 Performance"
                    },
                    dataSeries: [{
                        seriesType: "line",
                        collectionAlias: "Q Data",
                        data: performanceData[0].values
                    }]
                });
            });
        });
    </script>
    <!-- /. NAV*************************************************************** TESTing  -->


            <!-- Fixed footer -------------------------------------------------------------->
            <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
                <div class="container">
                    <div class="navbar-text pull-left">
                        <p>© 2015 SJAJKJT</p>
                    </div>
                    <div class="navbar-text pull-right">
                        <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                        <a href="#"><i class="fa fa-github fa-2x"></i></a>
                        <a href="#"><i class="fa fa-cog fa-2x"></i></i></a>
                    </div>
                </div>
            </div>
            <!-- Fixed footer ----------------------------------------------------------->






            <!-- Placed at the end of the document so the pages load faster -->
            <script src="http://code.jquery.com/jquery.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <!--<script src="js/bootstrap.js"></script>-->
            <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
</body>
</html>
