<style>
table {
	border: 1px solid black;
	}
th, td {
	border: 1px solid black;
	padding: .2em .7em;
	text-align: right;}
th, td:nth-child(2) { text-align: left; }
</style>


<table class="sortable">
<thead>
<tr style="cursor:pointer">
<th>Issue Number</th>
<th>Issue Title</th>
<th>Type</th>
<th>Issue Status</th>
<th>Priority</th>
<th>Last Updated</th>
<th>Assigned To</th>
</tr>
</thead>
<tbody>
{% if object_list %}
  {% for issue in object_list %}
   <tr>
   <td>{{ issue.pk }}</td>
   <td><a id="issue_title" href="/issue_tracker/issue/view/{{issue.pk}}" style="color: #A70303">{{ issue.title }}</a></td>
   <td>{{ issue.issue_type }}</td>
   <td>{{ issue.status }}</td>
   <td>{{ issue.priority }}</td>
   <td>{{ issue.modified_date }}</td>
   <td>{{ issue.assignee }}</td>
   </tr>
  {% endfor %}
{% else %}
    <h3>There are no issues currently entered.</h3>
{% endif %}
</tbody>
<tfoot>
</tfoot>
</table>
