
{% if confirm_message %}
<div class="modal-dialog modal-md">
{% else %}
<div class="modal-dialog">
{% endif %}
    <div class="modal-content">
        <div class="modal-header">
        	<a class="btn close" aria-label="Close" href="javascript:void(0);" onclick="closeDialog();">
               <span aria-hidden="true">×</span>
            </a>
        	<h4 class="modal-title" id="dialogModalLabel">{{ title }}</h4>
        </div>
        <form class="form-horizontal" action ="/req/changeuserrole/{{ project.id }}/{{ user.id }}" method="post">
            {% csrf_token %}
            <div class="modal-body">
                <div class="form-group">
                    <div class="col-xs-12" style="text-align: center;">
                        <h4>{{ user }}'s role on project {{ project }} is currently {{ role }} !</h4>
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.user_role.id_for_label }}" class="col-xs-12 col-sm-3 control-label">Change To:</label>
                    <div class="col-xs-12 col-sm-9">
                        {{ form.user_role }}
                    </div>
                </div>
            </div>
        	<div class="modal-footer">
        	  	<a class="btn btn-default" href="javascript:void(0);" onclick="closeDialog();">Close</a>
                <button type="submit" class="btn btn-primary">Save Changes</button>
        	</div>
        </form>
  	</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->


