<!DOCTYPE html>
{% extends "TopBarBase.html" %}

{% block content %}
<div class="container">
	<div class="jumbotron">
		<h1 class="page-header">Registration Complete!</h1>
		<p class="lead">
			Thank you for choosing our suite of tools. Please check your email for a confirmation message.
		</p>
		<p><a class="btn btn-lg btn-success" href="/" role="button">Return to Home</a></p>
	</div>
</div>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/Jumbotron.css">
{% endblock content %}