<!DOCTYPE html >
{% extends "TopBarBase.html" %}

{% block content %}
<div class="container">
		<div class="jumbotron">
			<h1>Welcome!</h1>
			<p class="lead">Please fill out the following fields and click 'Register' to get started.</p>
			<div class="col-sm-12">
				<form class="form-horizontal" style="padding-top: 30px;" action="/signup" method="post">
					{% csrf_token %}

					{% for field in form %}
					{% if field.errors %}
					<div class="form-group has-error has-feedback">
					{% else %}
					<div class="form-group">
					{% endif %}
						<div class="col-sm-4 col-sm-offset-1 control-label">
							{{ field.label_tag }}
						</div>
						<div class="col-sm-4" id="{{ field.id_for_label }}_popover">
							{{ field }}
							{% if field.errors %}
							<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
  							<span id="inputError2Status" class="sr-only">(error)</span>
							{% endif %}
						</div>
					</div>
					{% endfor %}

					<div class="col-sm-6 col-sm-offset-3" style="padding-top: 40px;">
						<div class="col-sm-6">
							<button id="activate" disabled="disabled" type="submit" class="btn btn-block btn-primary btn-lg"> Register</button>
						</div>
						<div class="col-sm-6">
							<a class="btn btn-block btn-default btn-lg" href="/"> Cancel</a>
						</div>
					</div>

				</form>
			</div>			
		</div>
</div>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/Jumbotron.css">

<script type="text/javascript">
	{% for field in form %}
	{% if field.errors %}
	var {{ field.id_for_label}}_errors = '';
	{% for error in field.errors %}
	{{ field.id_for_label}}_errors += '{{ error|escape }}';
	{% endfor %}
	$("#{{ field.id_for_label }}_popover").popover({
		animation: true,
		html: true,
		content: {{ field.id_for_label }}_errors,
		placement: 'right',
		trigger: 'hover'
	});
	{% endif %}
	{% endfor %}
</script>
{% endblock content %}